<div class="container">
	<h3><span class="label label-success">Product tracking dashboard</span></h3>
</div>
<div class="container">

	<div class="panel panel-default">
	  <div class="panel-body">

		<!-- Document Tables -->
			<div class="row">
				<div class="col-md-3 center">
					<h4><a href="https://trello.com/b/FytwdFne/document-tables" class="link-success">Document management 2.0</a></h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
			    		95%
			  		</div>
					</div>
					<div>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dorin-15.jpg" class="img-circle dev-headshot" alt="Dorin"/>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/ionut-14.jpg" class="img-circle dev-headshot" alt="Ionut"/>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/silviu-16.jpg" class="img-circle dev-headshot" alt="Silviu" />
					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label label-success">Deadline: August 11, 2014</span>
			  	<!-- <span class="glyphicon glyphicon-ok check"></span> -->
				</div>
			</div>  


		<!-- Login & Single Sign On -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4><a href="https://trello.com/b/pRAX1y1Z/id-server-login-sso" class="link-success">Login &amp; Single-Sign-On</a></h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			  			60%
			  		</div>
					</div>
					<div>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dorel-17.jpg" class="img-circle dev-headshot" />
						<img src="https://www.shoeboxed.com/wp-content/uploads/2014/05/McCaskill_headshot_1.jpg" class="img-circle dev-headshot" />
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/peter-11.jpg" class="img-circle dev-headshot" />
						<img src="https://www.shoeboxed.com/wp-content/uploads/2014/06/alex_lee_team_page.jpg" class="img-circle dev-headshot" />
					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label label-success">Deadline: July 25, 2014</span>
				</div>
			</div>  	


		<!-- Stores, Category, Payment type & Rule management -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4><a href="https://trello.com/b/wlRxOTUc/rules-management" class="link-success">Rule management 2.0</a></h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
			  			90%
			  		</div>
					</div>
					<div>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/peter-11.jpg" class="img-circle dev-headshot" />
						<img src="https://www.shoeboxed.com/wp-content/uploads/2014/06/alex_lee_team_page.jpg" class="img-circle dev-headshot" />
					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label label-success">Deadline: July 25, 2014</span>
				</div>
			</div>  	

		<!-- Registration & Upgrade paths -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4>Registration &amp; Upgrade paths</h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
			  			50%
			  		</div>
					</div>
					<div>
 						<img src="https://s3.amazonaws.com/uploads.hipchat.com/26232/157608/FT39LBKECRTwWDn/taylor.png" class="img-circle dev-headshot" />
 						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/mike-10.jpg" class="img-circle dev-headshot" />
 					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label not-in-progress">Deadline: TBD</span>
				</div>
			</div>

		<!-- External Apps -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4>API V1 apps &rarr; API V2</h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
			  			15%
			  		</div>
					</div>
					<div>
						<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dan-6.jpg" class="img-circle dev-headshot" />
 						<img src="https://s3.amazonaws.com/uploads.hipchat.com/26232/157608/FT39LBKECRTwWDn/taylor.png" class="img-circle dev-headshot" />
 					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label not-in-progress">Deadline: TBD</span>
				</div>
			</div>  	

	  </div> <!-- end panel body -->

	  <div class="panel-footer">

		<!-- Exports & Integrations -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4>Exports &amp; Integrations</h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar not-in-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  		</div>
					</div>
					<div>
						<h3 class="tbd">TBD</h3>
					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label not-in-progress">Deadline: TBD</span>
				</div>
			</div>  	


		<!-- Miscellaneous items -->
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3 center">
					<h4>Miscellaneous items</h4>
				</div>
			  <div class="col-md-6 center">
			  	<div class="progress">
			  		<div class="progress-bar not-in-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  		</div>
					</div>
					<div>
						<h3 class="tbd">TBD</h3>
					</div>
			  </div>
			  <div class="col-md-2 center">
			  	<span class="label not-in-progress">Deadline: TBD</span>
				</div>
			</div>

	  </div> <!-- end panel footer -->

	</div>
  	
</div>