<div class="jumbotron center">
	<p>A dashboard cometh</p>
</div

<div class="container">

	<!-- Document Tables -->
		<div class="row">
			<div class="col-md-3 center">
				<h4><a href="https://trello.com/b/FytwdFne/document-tables">Document tables</a></h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
		    		90%
		  		</div>
				</div>
				<div>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dorin-15.jpg" class="img-circle dev-headshot" alt="Dorin"/>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/ionut-14.jpg" class="img-circle dev-headshot" alt="Ionut"/>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/silviu-16.jpg" class="img-circle dev-headshot" alt="Silviu" />
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-primary">Deadline: June 10, 2014</span>
		  	<!-- <span class="glyphicon glyphicon-ok check"></span> -->
			</div>
		</div>  	

	<!-- Stores, Category, Payment type & Rule management -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>Stores, Category, Payment type &amp; Rule management</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		  		</div>
				</div>
				<div>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/peter-11.jpg" class="img-circle dev-headshot" />
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/ben-22.jpg" class="img-circle dev-headshot" />
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-success">Deadline: June 25, 2014</span>
			</div>
		</div>  	

	<!-- Login & Single Sign On -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>Login &amp; Single-Sign-On</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		  		</div>
				</div>
				<div>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dorel-17.jpg" class="img-circle dev-headshot" />
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/michael-00.jpg" class="img-circle dev-headshot" />
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-warning">Deadline: June 25, 2014</span>
			</div>
		</div>  	

	<!-- Exports -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>Exports (PDF/HTML &amp; CSV)</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		  		</div>
				</div>
				<div>
					<h3 class="tbd">TBD</h3>
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-danger">Deadline: July 20, 2014</span>
			</div>
		</div>  	

	<!-- Integrations & App store -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>Integrations &amp; App store concept</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		  		</div>
				</div>
				<div>
					<h3 class="tbd">TBD</h3>
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-primary">Deadline: August 15, 2014</span>
			</div>
		</div>  	

	<!-- Registration & Upgrade paths -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>Registration &amp; Upgrade paths</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
		  			50%
		  		</div>
				</div>
				<div>
					<img src="https://s3.amazonaws.com/uploads.hipchat.com/26232/157608/FT39LBKECRTwWDn/taylor.png" class="img-circle dev-headshot" />
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-success">Deadline: July 20, 2014</span>
			</div>
		</div>  	

	<!-- External Apps -->
		<div class="row" style="padding-top:30px;">
			<div class="col-md-3 center">
				<h4>External Apps</h4>
			</div>
		  <div class="col-md-6 center">
		  	<div class="progress">
		  		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
		  			10%
		  		</div>
				</div>
				<div>
					<img src="https://www.shoeboxed.com/wp-content/themes/sbx/images-team/dan-6.jpg" class="img-circle dev-headshot" />
					<img src="https://s3.amazonaws.com/uploads.hipchat.com/26232/157608/FT39LBKECRTwWDn/taylor.png" class="img-circle dev-headshot" />
				</div>
		  </div>
		  <div class="col-md-2 center">
		  	<span class="label label-warning">Deadline: September 1, 2014</span>
			</div>
		</div>  	
</div>